import os


class ConstGl:
    PERSON_FULL_NAME = 'FirstName LASTNAME'

    # Data paths architecture: convention over configuration
    # Data paths
    """
    Generic folder data architecture:
        -> data
            -> temp
                -> summary_table.html
                -> summary_table.pdf
            -> frais
                -> special_frais.json
                -> sncf
                    -> trip1.pdf
                    -> trip2.pdf
                    -> ...
    """
    PATH_TO_DATA_FRAIS = '../data'
    TEMP_DIR = os.path.join(PATH_TO_DATA_FRAIS, 'temp')
    SPECIAL_FRAIS_JSON = os.path.join(PATH_TO_DATA_FRAIS, 'frais', 'special_frais.json')

    """
    SNCF folder data architecture:
        -> sncf
            -> trips
                -> trip1.pdf
                -> trip2.pdf
                -> ...
    """
    PATH_TO_DATA_FRAIS_SNCF = os.path.join(PATH_TO_DATA_FRAIS, 'frais', 'sncf')
    PATH_TO_DATA_FRAIS_SNCF_TRIPS = os.path.join(PATH_TO_DATA_FRAIS_SNCF, 'trips')

    # Path to the wkhtmltopdf executable for the pdf generation
    PATH_TO_WK_HTML_TO_PDF = r'C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe'
